#inputs {
  width: 90%;
  height: 70%;
  position: absolute;
  top: calc(50% - 70%/2);
  left: calc(50% - 90%/2);
}

#inputs > textarea {
  width: calc(50% - 100px);
  height: 100%;
  top: 0px;
  position: absolute;
  resize: none;
}

#inputs > textarea:nth-child(2) {
  right: 0px;
}

#inputs > textarea:nth-child(1) {
  left: 0px;
}

body {
  margin: 0px;
  padding: 0px;
  background: white !important;
  color: black !important;
}

#buttons {
  width: 150px;
  height: 150px;
  top: calc(50% - 150px/2);
  left: calc(50% - 150px/2);
  position: absolute;
}

#buttons > button {
  height: 45%;
  width: 100%;
  position: absolute;
}
#buttons > button:nth-child(1) {
  top: 0px;
}

#buttons > button:nth-child(2) {
  bottom: 0px;
}
